.text-crimson {
  color: crimson;
}
.table-dark {
  --bs-table-color:crimson;
}
.form-select select {
  color: wheat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
